# =========================
# Секреты и локальная конфигурация
# =========================

config.py


# =========================
# Исходные данные
# =========================


# =========================
# Результаты работы скриптов
# =========================

extracted_images/
downloaded_eml/


# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/


# =========================
# VS Code
# =========================

.vscode/


# =========================
# Прочее
# =========================

*.log
/stable_backup/
*_test
test_*